<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지(테스트)</title>
</head>
<body>
<h1>로그인 테스트</h1>
<form th:action="@{/auth/login}" method="post">
    <label for="username">유저명:</label>
    <input type="text" id="username" name="username" placeholder="유저명을 입력해주세요." required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요." required>
    <br>
    <button type="submit">로그인</button>
</form>
<b><a th:href="@{/auth/signup}">계정이 없으신가요? 여기서 만드세요!</a></b>
</body>
</html>
