<!--제품 리스트를 보여주는 페이지-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 리스트</title>
</head>
<body>
<h1>제품 리스트</h1>
<table border="1">
    <thead>
    <tr>
        <th>제품명</th>
        <th>설명</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/products/add}">제품 추가</a>
</body>
</html>
